.form-container {
    padding-top: 40px;
    width: 500px;
    margin: auto;
}

.form-container-inline {
    padding-top: 40px;
    width: 600px;
    margin: auto;
}

.text-create-user {
    float: right;
    padding-top: 7px
}

.container {
    display: inline;
}

.username {
    color: #2e7d32 !important;
    margin-left: 8px;
}

.center-text {
    text-align: center;
}

.not-found-page {
    padding-top: 40px;
}

.children-text {
    margin-top: 20px;
    margin-bottom: 20px;
}